body {
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  height: 300vh;
}

canvas, .frame {
  position: fixed;
  top: 0px;
  right: 0px;
  z-index: 0;
}

.page {
  position: absolute;
  height: 100vh;
  width: 100vw;
  top: 100vh;

  background-color: #999999;
  z-index: 1;
}
